* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

.header {
  background-color: aqua;
  text-align: center;
  padding: 10px;
}

.nav {
  background-color: rgba(255, 255, 255, 0.919);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.474);
}

.nav > a {
  text-decoration: none;
  margin: 0 15px;
  color: black;
}

.container {
  width: 70vw;
  background-color: rgb(207, 132, 40);
  margin: 0 auto;
  min-height: 100vh;
  padding: 5vw;
}

.container > form {
  display: flex;
  flex-direction: column;
}

.heading-main {
  text-align: center;
  margin: 20px 0;
}

input,
textarea,
button {
  margin: 15px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
button {
  background-color: rgba(0, 0, 0, 0.474);
  cursor: pointer;
}

.task {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  padding: 0 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.task > div {
  color: black;
  width: 100%;
}

.task > button {
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.task > button:hover {
  background-color: rgb(109, 2, 2);
}

.about,
.contact {
  background-color: rgb(112, 107, 107);
  min-height: 100vh;
  text-align: center;
}
